.contact >div >a{
    font-size: 1.25rem;
}
span{
    font-size: 1.25rem;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem;
    
}
.cardContact{
    width: 300px;
    height: 100px;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.faleConosco{
    background: black;
    padding: 0.8rem;
}
.faleConosco h2{
    color: white;
    margin-top: 2rem;
}

.form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.form textarea ,input {
    margin-bottom: 10px;
    padding: 10px;
    flex: 1; 
    width: 90%;
    font-size: 1rem;
    border-radius: 0.3rem;
    
}

.form button {
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
}

.form button:hover {
    background-color: #0056b3;
}

.titleContact{
    font-weight: 400;
    color: white;
}
.cardContact p:nth-of-type(2) {
    color: white;
    font-weight: 400;
  }
  
.cardContact  a {
    color: rgba(255, 255, 255, 0.76);
}


@media screen  and (max-width: 599px) { 
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 1rem;
    }
    .cardContact{
        width: 200px;
    }
    .faleConosco{
        
        padding-bottom: 2rem;
    }
}
