.formulario{
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, #ff0,#00f, #f0f, #f00);
  padding-top: 5rem;
}

@media screen and (max-width: 701px) {
  .formularioIframe{
      width: 567px;
  }
  
}
img{
  width: 4rem;
}
.linkDireto{
  color: aliceblue;
}
nav{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  font-size: 2rem;
}



