@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');

:root {
  --cor-primaria: #a89378; 
}


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif; 
}

h2{
  font-weight: 200;
}
a{
  text-decoration: none;
}
button{
  font-size: 1.50rem;
  font-weight: 200;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(81, 157, 245);
  width: 10rem;
  color: white;
  
}
p{
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.75px;
}
.title{
  text-align: center;
  font-size: 2.5rem;
  padding: 5rem 0rem 1rem 0rem;
}