.sectionServicos{
    width: 100%;    
}
.listCardServicos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.cardProdutos{
    height: 450px;
    width: 350px;
    border: 2px solid rgb(207, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 1.25rem;
}

.cardProdutos:hover{
    transition: 1s;
    color: transparent;
    font-size: 1.25rem;
}
.sectionServicos h2 {
    margin-top: 1.2rem;
}
@media screen  and (max-width: 849px) { 
    .cardProdutos{
        height: 250px;
        width: 250px;
        margin: 40px;
        font-size: 1.25rem;
    }
}